/* @import('../Layoutcss/65hall.css'); */

.model-65{
    max-width: 85rem !important;
}
.model_div_65{
    padding: 0rem 2.539rem 2.5rem 3.125rem;
}
.main_layout-2-2 {
    position: relative;
    overflow-x: scroll;
}

.main_layout-2-2 .shape-5 img {
    width: 116rem;
    margin-right: 1rem;
}

.main_layout-2-2 .flex_do {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.main_layout-2-2 .black_bx_1 {
    background: #000;
    width: 18px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    left: 0px;
    top: 22rem;
}

.main_layout-2-2 .black_bx_2 {
    background: #000;
    width: 22px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    left: 18.3rem;
    top: 0rem;
}

.main_layout-2-2 .black_bx_3 {
    background: #000;
    width: 22px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    left: 39.5rem;
    top: 0rem;
}

.main_layout-2-2 .black_bx_4 {
    background: #000;
    width: 22px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    left: 60.4rem;
    top: 0rem;
}

.main_layout-2-2 .black_bx_5 {
    background: #000;
    width: 22px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    left: 83.2rem;
    top: 0rem;
}

.main_layout-2-2 .black_bx_6 {
    background: #000;
    width: 22px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    left: 103rem;
    top: 0rem;
}


.main_layout-2-2 .do_one {
    display: flex;
    align-items: center;
}

.main_layout-2-2 .flex_eight {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2.5rem;
    padding: 5rem 0px;
}

.main_layout-2-2 .box_one {
    border: 2px solid #000;
    margin: 0px 27px -3px 2px;
}

.main_layout-2-2 button.btn-crah {
    background: #86C4D7;
    border: 1px solid #000;
    padding: 3px 40px;
}

.main_layout-2-2 .shape-5 {
    position: absolute;
    left: 0px;
}

.main_layout-2-2 .up_shape {
    position: absolute;
    left: 19%;
}

.main_layout-2-2 .up_shape_2 {
    position: absolute;
    left: 50%;
}

.main_layout-2-2 .data_col {
    /* margin-left: 8rem; */
    /* margin-top: 2rem; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 2rem 0px 3rem;
    position: relative;
    z-index: 99999;
}

.main_layout-2-2 p.num_data {
    background: #FE8600;
    color: #fff;
    padding: 2px 0px;
    font-size: 0.75rem;
    margin-bottom: 0px;
    border-bottom: 1px solid #fff;
    width: 65px;
    text-align: center;
}

.main_layout-2-2 .org_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_layout-2-2 p.gray {
    background: #A2B0BE;
    width: 30px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.main_layout-2-2 p.black {
    background: #000;
    width: 30px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    right: 34px;
}

.main_layout-2-2 p.black_lf {
    background: #000;
    width: 30px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    left: 34px;
}

.main_layout-2-2 p.black_lf_1 {
    background: #000;
    width: 30px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    left: 40px;
}

.main_layout-2-2 p.black_lf_2 {
    background: #000;
    width: 30px;
    height: 20px;
    padding: 11.5px 0px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    position: absolute;
    left: 15px;
}

.main_layout-2-2 .blck_gray {
    background: #8697A8;
    color: #8697A8;
    padding: 2px 0px;
    font-size: 0.75rem;
    margin-bottom: 1px;
    width: 65px;
}

.main_layout-2-2 .blck_orng {
    background: #FE8600;
    color: #FE8600;
    padding: 2px 0px;
    font-size: 0.75rem;
    margin-bottom: 1px;
    width: 65px;
}

.main_layout-2-2 .blck_wh {
    background: #fff;
    color: #fff;
    padding: 2px 0px;
    font-size: 0.75rem;
    margin-bottom: 1px;
    width: 65px;
}

.main_layout-2-2 .last_heading_txt {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    bottom: -12%;
    left: 44%;
}

.main_layout-2-2 .box_crah-btn {
    align-items: center;
    position: absolute;
    top: 62px;
    padding-left: 6.8rem;
}

.main_layout-2-2 .block_4 {
    position: absolute;
    left: 32.5rem;
    z-index: 999999;
    top: 1px;
}

@media (min-width: 992px) {
    .modal-dialog.modal-lg.lay-3pop {
        max-width: 85rem;
    }
}

.main_layout-2-2 .right_show {
    cursor: pointer;
}

.main_layout-2-2 .right_show:hover+.info_ct {
    display: block;
}

.main_layout-2-2 .left_show {
    cursor: pointer;
}

.main_layout-2-2 .left_show:hover+.info_ctl {
    display: block;
}

.main_layout-2-2 .info_ct {
    position: relative;
    background: #000;
    display: none;
}

.main_layout-2-2 .innr_ct {
    position: absolute;
    background: #11263cf5;
    left: 11px;
    width: 170px;
    text-align: left;
    z-index: 1111;
    top: -4.3rem;
    border-radius: 5px;
    padding: 10px 3px;
}

.main_layout-2-2 .info_ctl {
    position: relative;
    background: #000;
    display: none;
}

.main_layout-2-2 .innr_ctl {
    position: absolute;
    background: #11263cf5;
    right: 75px;
    width: 170px;
    text-align: left;
    z-index: 1111;
    top: -4.3rem;
    border-radius: 5px;
    padding: 10px 3px;
}

.main_layout-2-2 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3px;
}

.main_layout-2-2 .triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #1a2f44;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -11px;
    top: -10px;
}

.main_layout-2-2 .innr_ct_ed {
    position: absolute;
    background: #11263cf5;
    right: 75px;
    width: 170px;
    text-align: left;
    z-index: 1111;
    top: -4.3rem;
    border-radius: 5px;
    padding: 10px 3px;
}

.main_layout-2-2 .triangle-left_ed {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #1a2f44;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -75px;
    top: -10px;
}

.main_layout-2-2 .triangle-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #1a2f44;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 65px;
    top: -10px;
}

.main_layout-2-2 .innr_ctl_st {
    position: absolute;
    background: #11263cf5;
    left: 10px;
    width: 170px;
    text-align: left;
    z-index: 1111;
    top: -4.3rem;
    border-radius: 5px;
    padding: 10px 3px;
}

.main_layout-2-2 .triangle-right_st {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #1a2f44;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -10px;
    top: -10px;
}

.main_layout-2-2 .content p {
    margin-bottom: 0;
    text-align: left;
    background: #11263c00;
    font-size: 11px;
    border-radius: 5px;
    color: #fff;
}

@media (min-width: 1600px) {

    /*.main_layout-2-2 p.black {
  background: #000;
  width: 30px;
  height: 20px;
  padding: 11.5px 0px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  position: absolute;
  right: 94px;
}*/
    .main_layout-2-2 .box_crah-btn {
        align-items: center;
        position: absolute;
        top: 70px;
        padding-left: 7rem;
    }

    .main_layout-2-2 .flex_do {
        display: flex;
        justify-content: space-evenly;
        gap: 4.8rem;
    }

    .main_layout-2-2 .block_4 {
        position: absolute;
        left: 33rem;
        z-index: 999999;
        top: 5px;
    }

    .main_layout-2-2 .black_bx_4 {
        background: #000;
        width: 22px;
        height: 20px;
        padding: 11.5px 0px;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 1px;
        position: absolute;
        left: 61.5rem;
        top: 0rem;
    }

    .main_layout-2-2 .black_bx_5 {
        background: #000;
        width: 22px;
        height: 20px;
        padding: 11.5px 0px;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 1px;
        position: absolute;
        left: 85.8rem;
        top: 0rem;
    }

    .main_layout-2-2 p.num_data {
        background: #FE8600;
        color: #fff;
        padding: 2px 0px;
        font-size: 0.75rem;
        margin-bottom: 0px;
        border-bottom: 1px solid #fff;
        width: 68px;
        text-align: center;
    }

    .main_layout-2-2 button.btn-crah {
        background: #86C4D7;
        border: 1px solid #000;
        padding: 3px 43px;
    }



    .main_layout-2-2 p.gray {
        background: #A2B0BE;
        width: 20px;
        height: 20px;
        padding: 13.5px 0px;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 1px;
    }

    /*.main_layout-2-2 p.black_lf {
  background: #000;
  width: 30px;
  height: 20px;
  padding: 11.5px 0px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  position: absolute;
  left: 94px;
}*/

    .main_layout-2-2 .last_heading_txt {
        text-align: center;
        position: absolute;
        margin: 0 auto;
        bottom: -13%;
        left: 44%;
    }

    .main_layout-2-2 .innr_ctl {
        position: absolute;
        background: #11263cf5;
        right: 106px;
        width: 170px;
        text-align: left;
        z-index: 1111;
        top: -4rem;
        border-radius: 5px;
        padding: 10px 3px;
    }

    .main_layout-2-2 .triangle-right {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 10px solid #1a2f44;
        border-bottom: 10px solid transparent;
        position: absolute;
        right: 96px;
        top: -10px;
    }

    .main_layout-2-2 .flex_eight {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: 4.5rem;
        padding: 5rem 0px;
    }
}
