.choose_date select {
             padding: 5px 10px;
             border-radius: 5px;
             font-size: 1.125rem;
             font-weight: 500;
             font-family: 'DM sans';
             border: 1px solid #aaa;
}
.left_box_month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}
.choose_date{
   width: 80%;
}
.excel_icon{
   cursor: pointer;
}
.table_monthly tr th {
    color: #000;
    font-weight: 600 !important;
    font-size: 0.9375rem;
}
.table_monthly tr th {
    padding: 0.5rem 0.625rem !important;
    box-shadow: none !important;
    text-align: center;
}
.table_monthly tr td {
    padding: 0.5rem 0.625rem !important;
    box-shadow: none !important;
    text-align: center;
}
th.tbr {
    border: 1px solid #EEEDEE;
}
td.tbr {
    border: 1px solid #EEEDEE;
}
th.total_color {
    background: #D9D9D9;
    text-align: center;
}
th.bg_gray {
    background: #D9D9D9;
    text-align: center;
}
td.bg_gray {
    background: #D9D9D9;
    text-align: center;
}
th.in_so{
   background: #FFC000;
   text-align: center;
}
th.res{
   background: #B5E3F4;
   text-align: center;
}
th.strd{
   background: #FA8D8D;
   text-align: center;
}
th.avilbl{
   background: #C7F0AB;
   text-align: center;
}
th.entvs{
   background: #FFFFFF;
   text-align: center;
}
.txt_comf p{
   font-size: 1.25rem;
   font-weight: 400;
   font-family: 'DM sans';
}
.table tbody tr td {
   
    white-space: nowrap !important;
}
td.tbr input {
    max-width: 55px;
    padding: 0px 5px;
}
td.bg_gray input {
    max-width: 55px;
    padding: 0px 5px;
}
.choose_date button.btn.btn-secondary {
    padding: 5px 1rem;
    width: 4rem;
    border-radius: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.dt_td table tr td {
    border: none;
}
.dt_td table tr td input {
    width: 60px;
}
